
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&display=swap');
/* font-family: 'PT Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Montserrat:wght@300&family=PT+Sans&display=swap');
/* font-family: 'Lemonada', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lemonada:wght@300&family=Montserrat:wght@300&family=PT+Sans&display=swap');
/* font-family: 'Crimson Text', serif; */



    /* langding page */
 
#landing_body{
  
    background-image: url(./images/full-stack-banner.jpg);
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
 
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 30vh 50vh;
    grid-template-rows: 15vw 30vw 30vw;
 }
 #landing_header{
     grid-row: 2/4;;
     grid-column: 1/3;
 }
 

 #landing_h1{

   color:transparent;
   -webkit-text-stroke: 0.2px white;
   
   display: flex;
   position: absolute;
   top:20%;
   left: 10%;
   font-size: 50px;
   letter-spacing: 3px;
   font-size: 100px; 
   

 }
 #landing_h1:hover{
     color:white;
    box-shadow:3px 3px red;
    cursor: pointer;
 }
   @media screen and (min-width: 400px){
    #landing_body{
        display: grid;
         grid-template-columns: 100vw;
        grid-template-rows: 30vh 50vh; 
        grid-template-areas: "grid_header"
                             "grid_header"
                            " grid_section";  
                            background-image: url(./images/full-stack-bannerS.jpg);
               
  
    }
  
    #landing_header{
        grid-area: grid_header;
    } 
    #landing_section{
        grid-area:grid_section;
        color: white;
  
    }
    
   
} 
    /* this is css for home */

    /* home body */
    #Wh_whole {
        display: grid;
        background: url(./images/wh.jpeg);
        width: 100%;
        height : 100%;
        gap: 10px;
        background-position: center;
        background-size:cover;
        display: grid;
        grid-template-columns: 5vw 33vw 33vw;
       

    }
    /* home section */
    #home_header{
        /* grid-area: grid_header; */
        grid-column: 1/6;

        text-align: center;
 
        letter-spacing: 2px;
        text-transform: uppercase;
        /* position: absolute; */
        
        text-align: center;
     
        color: transparent;
       
        -webkit-text-stroke: 1px white;
      background: transparent;
  
     
    }
  
    #wh_H:hover{
        color: white;
        text-shadow: 1px 1px 5px red;
        cursor:pointer;
       
    
    }
    #home_section{
         grid-column: 2/4;     
        font-family: 'Lemonada';     
      
         -webkit-text-stroke: 1px white;
       background-color: transparent;
    }
    nav{
      grid-column: 2/4;
    } 
    #home_footer{
        font-size: 30px;
        color: white;
        text-align: center;
        grid-column: 1/5;
        background: transparent;
     }
 
     /* this is menu ond the side  */
.hamburger{
    width: 45px;
    height: 35px;

    position: fixed;
    top: 50px;
    right: 80px;
    cursor: pointer ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
   width: 100%;
   height: 3px;
   background-color: white;
   transition: all 0.7s;
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-6px,6px);
    background-color: red;
}
.change .line-2{
transform: rotateZ(180deg);
background-color: purple;
}


.change .line-3{
    transform: rotateZ(405deg) translate(-6px,-6px);
    background-color: yellow;
}
.change .line-4{
    transform: rotateZ(450deg)  translate(-16px,0px);
}
.nav{
    
    height:100%;
    background-color: transparent;
    position: fixed;
    top :-35px;
    right:-340px;
    display:flex;
    justify-content: center;
    align-items: center;
  
    transition: right 1s;
}
.change{
    right :0;
}
.nav-list{
    text-align: right;

}
.nav-item{
    list-style: none;
    margin: 30px;
    font-size: 30px;
   
  
}
 .nav-link{
    text-decoration: none;
    font-weight: 100;  
    font-size :25px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;

} 

.nav-link::before,
.nav-link::after{
    content :""; 
    width: 100%;
    height : 1px;
    background-color: red;
    position: absolute;
    left: 0;    
    transform: scaleX(0); 
    transition: transform 0.7s;
    
}

.nav-link::after{
    bottom: 0;
    transform-origin: right;
}
.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
   
}


#wh_img{
    width: 400px;
    height: 360px;
 
 
    border:2px solid red;
}
#wh_img:hover{
    border:5px solid red;
    cursor: pointer;
}
  #wh_desc{
 
     display:block;
    font-size: 30px;
    color: white;
    padding: 5px;
    
} 
#wh_ol{

    display:inline-flex;
    font-size: 40px;
    color: white;
    padding: 5px;
 list-style: none;  
    
}
 .wh2_P{
     position: absolute;  
     top:180px; 
     left: 70px; 
     font-size: 30px; 
     color:black;
} 
.wh3_P{
    position: absolute;
    top:220px;
    left: 70px;
    font-size: 30px;
    color: black;
}
.wh4_P{
    position: absolute;
    top:260px;
    left:70px;
    font-size: 30px;
    color: black;
}
.wh5_P{
    position: absolute;
    top:300px;
    left:70px;
    font-size: 30px;
    color: black;
}
#wh_ul{
    list-style: none;   
    font-size: 30px;
    text-transform: uppercase;
    color: white;  
    
    
}

.wh_tibits{
    position: relative;
    display: inline;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
   
  
} 
.wh_tibits:hover{
    border: 4px solid red;
    cursor: pointer;
}
#wh_ul,#wh_li {
    margin: 20px;
   
}
#Wh_finish{
   background-color: transparent;
}

#accomplisment{
    height: 2000px;
    background-color: red;
}

 @media screen and (max-width: 600px){

    #Wh_whole{
         display: grid;
         gap: 35px;
         grid-template-columns: 35vw 35vw; 
         grid-template-rows: 40vh 220vh 50vh;
    }
    #home_header{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    #home_section{
        grid-row: 2/5;
        grid-column: 1/3;
        font-size: 20px;
    
    } 
  #wh_H{
      font-size: 60px;
  }
   #wh_ol{
        display:block;
        color: white;
       list-style: outside;
      
    }
    #wh_desc{
        color: white;

   } 
   #home_footer{
       text-align: center;
       font-size: 15px;

    grid-row: 5/6;
    grid-column: 1/2;
   }
    
}  
 
/* ACoomplishment */
#acomp_body{
    background-image: url(./images/accomp.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100vw;
     grid-template-columns: 33vw 33vw 33vw;
         grid-template-rows: 20vh 60vh 20vh 10vh; 
 
}
#acomp_head{
    /* grid-area: grid_header; */
    grid-column: 1/4;
    grid-row: 1/2;
 
   text-align: center;
   font-family: 'PT Sans';
   font-size: 35px;
   color: white;
   text-decoration: none;


}
#acomp_section{
    /* grid-area: grid_section; */
    grid-column: 1/4;
    grid-row: 2/4;
}
nav{
    grid-template-columns: 1/4;
}
#acomp_footer{
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
    font-size: 35px;
    color: white;
  

}

.prod-list{
    list-style: none;
    margin:0;
    padding:0;
}
.prod-list li{
    position: relative;
    float:left;
    padding : 0;
    margin: 40px;
    overflow: hidden;
}
.prod-list img{
    margin: 0;
    padding: 0;
    float: left;
    width : 400px;
    height : 300px;
    z-index: 5;
    border: 2px solid red;
}

.prod-list .caption{
    position:absolute;
    top: 220px;
    width: 405px;
    height: 300px;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    color: red;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: 0.2s;
}
.prod-list .caption:hover{
    opacity: 10;
    transform: translateY(-240px);
    cursor: pointer;
}
p{
    color: yellow;
}
 
@media screen and (max-width: 600px){

    #acomp_body{
        display: grid;
        gap: 15px;
        grid-template-columns: 90vw;
         grid-template-rows: 10vh 180vh 60vh; 
 
    } 
    #acomp_head{
        grid-column: 1/2;
        grid-row: 1/2;
        color: black;
        font-size: 20px;
    }
    #acomp_section{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #acomp_footer{
        grid-column: 1/2;
        grid-row: 5/6;
        font-size: 15px;
        color: black;
    }
    .prod-list li{
        position: relative;
        float:left;
        padding : 0;
        margin: 10px;
        overflow: hidden;
    }

}


/* Emloyee */
#employee_body{ 
   
    height: 100%;
    width: 100%;
 
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 15vh 70vh 30vh 15vh;

    background-color: gray;
  
  
}
#employee_head{
 grid-column: 1/4;
 grid-row: 1/2;

    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 35px;

  
}
.employee_h2{
    color: white;
    text-align: center;
}
.employee_a{
    color: red;
    cursor: pointer;
}
.employee_a:hover{
    color: white;
    font-size: larger;
        
    
}

#employee_section{
    grid-column: 1/4;
    grid-row: 2/5;
 
    font-family: 'Montserrat';
    font-size: large;  

}

#section_butter{
    display: grid;
    grid-template-columns: 15vw 33vw 33vw;
    grid-template-rows: 10vh 33vh 33vh;
   background-image: url(./images/butternut.jpg);

    background-size: cover;
     background-position: bottom;
    transition: 4s;
    animation-name: butter;
    animation-direction: alternate;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    border:2px solid red;
  

}
@keyframes butter{
20%{
    background-image: url(./images/butter1.jpg);
}
40%{
    background-image: url(./images/butter2.jpg_large);
}
60%{
    background-image: url(./images/butter3.jpg);
}
80%{
    background-image: url(./images/butter4.jpg);
}
100%{
    background-image: url(./images/butter5.jpg)
}
}
#employee_secion_table{
    background-color: yellow;
    grid-column: 2/4;
    grid-row: 2/4;
}

#section_Mika{
    background-color: yellow;

    grid-column: 2/4;
    grid-row: 2/4;
}
#section_Mika:hover{
    background-color: transparent;
    color: yellow;
}
#section_la{
   
background-color: yellow;

grid-column: 2/4;
 grid-row: 2/4;
}

#section_la:hover{
    background-color: transparent;
    color: yellow;
    
}


#section_Mikado{
    background-image: url(./images/Mikado.jpg);
 
     background-size: cover;
 
     background-position: bottom;
     border:2px solid red;
     display: grid;
      grid-template-columns: 15vw 33vw 33vw;
      grid-template-rows: 15vh 33vh 33vh;
 
 }
 
 #section_lalonde{
    background-image: url(./images/lalonde.jpg);
 
     background-size: cover;

     background-position: bottom;
     border:2px solid red;
  
     display: grid;
     grid-template-columns: 15vw 33vw 33vw;
     grid-template-rows: 15vh 33vh 33vh;
     
 }


 #employee_footer{
    /* grid-area: grid_footer; */
    grid-column: 1/5;
    grid-row: 6/7;
   
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: gray;
}

#employee_secion_table:hover{
    background-color: transparent;
    border: 1px solid red; 
    color: yellow;
}
.employee_tr,.employee_th,.employee_td{
      
    border: 2px solid black; 
}
.employee_tr:hover{
    border: 5px solid red; 


}
.employee_td:hover{
    border: 5px solid red; 
  
}
.employee_th:hover{
    border: 5px solid red; 
  
}



/* mobius size */
@media screen and (max-width: 600px){

    #employee_body{ 
   
    height: 100%;
    width: 100%;
     display: grid;
    grid-template-columns: 70vw;
    grid-row: 30vh 60vh 60vh 33vh;
    background-color: gray;
    gap: 20px;
    }   
  

    #employee_head{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 35px;

    }

    #employee_section{
    grid-column: 1/4;
    grid-row: 2/6;
     font-family: 'Montserrat';
    font-size: large;  

    }

    #section_butter{
    display: grid;
    grid-template-columns:  1vw 35vw;
    grid-template-rows: 20vh 63vh 33vh;
 
    }
    #employee_secion_table{
        background-color: yellow;
        grid-column: 1/4;
        grid-row: 2/4;
    
    }

    #section_Mikado{
       display: grid;
       grid-template-columns: 1vw 30vw;
       grid-template-rows: 20vh 63vh 33vh;
    
 
    }
 
 #section_lalonde{
     display: grid;
     grid-template-columns:  1vw 30vw;
     grid-template-rows: 20vh 63vh 33vh;
    
     }

    #employee_footer{
    grid-column: 1/5;
    grid-row: 6/7;
    text-align: center;
    color: white;
    font-size: 15px;
      }

}


/* WONHYUK'sMYNAIT */

#myNait_body{
    background-image: url(./images/myNait.jpg);
    background-size: cover;
    background-position: center;    
    font-family: 'Lemonada';
    display: grid;
    grid-template-columns: 30vw 10vw 30vw 30vw;
    grid-template-rows: 15vh 45vh 20vh ;
    gap: 10px;
    
}
#myNait_head{
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Montserrat';
    -webkit-text-stroke: 1px black;  
 
}
#myNait_section{ 
    grid-column: 3/5;
    grid-row: 2/6;

   

}

#myNait_aside{
    grid-column: 1/2;   
    grid-row: 1/6;

}
#myNait_footer{
    grid-column: 1/5;  
    grid-row: 6/7;
    font-size: 30px;
    -webkit-text-stroke: 1px black;  
    text-align: center;
}
.myNait_img{
    width: 500px;
    height: 300px;
    border: 2px solid blue;
}
.myNait_h{
    text-align: center;
}


 #myNait_table{
    border: 2px solid black;
    text-align: center;
    width: 80%;
    height: 40%;



}
#myNait_table:hover{
    border: 5px solid blue;
    background-color: turquoise;
}
.myNait_th{
    background-color: #00b0ff;
    border: 2px solid black;
}
.myNait_th,.myNait_tr,.myNait_td{
    border: 2px solid black;
}
.myNait_tr,.myNait_td:hover{
    border: 5px solid blue;
}
.myNait_th:hover{
    border: 5px solid blue;
}


#event{
    background-color: yellow;
}
#event:hover{
    border: 5px solid blue;
}
#embeded{
    background-color: greenyellow;
}
#web{
    background-color: #fba8a8;
}
#break{
    background-color:  #00b0ff;
}
#tutorial{
    background-color: tomato;
}
.instructor{
    color: blue;
    list-style: none;
    text-align: center;
    font-size: 20px;

}

@media screen and (max-width: 600px){
    #myNait_body{
       
        display: grid;
        grid-template-columns: 90vw;
 
        grid-template-rows: 10vh 200vh 60vh 20vh ;
        gap: 10px;
        
    }
    #myNait_head{
       grid-column: 1/2;
        grid-row: 1/2;

    }
    #myNait_section{
     grid-column: 1/2;
        /* grid-column: 2/5; */
        grid-row: 4/6;

   
    }
    #myNait_table{
        border: 2px solid black;
        text-align: center;
        width: 50%;
        font-size: 10px;
    }
    .myNait_img{
        width: 400px;
        height: 200px;
        border: 2px solid blue;
    }
    #myNait_table{
        border: 2px solid black;
        text-align: center;
       height: 50%; 
  
    
    
    }
    #myNait_table:hover{
        border: 5px solid blue;
        background-color: turquoise;
    }
    .myNait_th{
        background-color: #00b0ff;
    }
    .myNait_th,.myNait_tr,.myNait_td{
        border: 2px solid black;
    }
    .myNait_tr,.myNait_td:hover{
        border: 5px solid blue;
    }
    .myNait_th:hover{
        border: 5px solid blue;
    }
    

    #myNait_aside{
        /* grid-column: 1/2; */
        grid-column: 1/2;
        grid-row: 2/4;
    
    }

    #myNait_footer{
        /* grid-column: 1/5; */
        grid-column: 1/2;
        grid-row: 6/8;
        font-size: 15px;
   
    }
  
}


/* FEEDBACK */
#feeback_body{
    background-image: url(./images/realFeed.jpg);
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
   display: grid;
   grid-template-columns: 33vw 33vw 33vw;
   grid-template-rows: 20vh 50vh 20vh;
   gap: 10px;
   font-family: 'Crimson Text';
   
  }
  
  #feeback_header{
      text-align: center;
      font-size: 35px;
      font-family: 'Montserrat';
      grid-column: 1/6;
      grid-row: 1/2;
  
  }
  #feeback_header_form{
      background-color: whitesmoke;
     border: 5px solid blue;
      width: 54%;
      opacity: 0.9;
   
      grid-column: 2/5;
      grid-row: 2/5;
      border-radius: 100px;
      display: grid;
      grid-template-columns: 5vw 10vw 10vw 10vw 10vw 5vw;
      grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh;
      gap: 5px;
  
  }
  .f_name{
      grid-row: 1/2;
      grid-column: 2/5;
   
  }
  .Email{
    grid-column: 3/8;
    grid-row: 2/3;
 
}
.light{
    grid-row:2/3;
    grid-column: 1/3;
    color: red;
    font-size: 20px;
}
.phone{
    grid-row: 4/5;
    grid-column: 3/8;

    color: red;
    font-size: 20px;
}
.address{
    grid-row: 3/4;
    grid-column: 1/6;
    color: red;
    font-size: 20px;

    
}
  .dateOfBirth{
    grid-row: 5/6;
    grid-column: 4/5;
    color: red;
    font-size: 20px;

  }
  .select{
    grid-row: 5/6;
    grid-column: 1/3;
    color: red;
    font-size: 20px;
}
  #start{
    border: 3px solid red;  
  }
 
 
  .field{
      grid-row: 6/12;
      grid-column: 1/3;
      color: red;
      font-size: 20px;

  }

 
  .myNait_form_textArea{
      grid-column: 3/4;
      grid-row: 6/8;
      color: red;
      font-size: 20px;
    
  }
  .reset_btn{
      grid-row: 12/13;
      grid-column: 1/4;
   
  }
  .submit_btn{
      grid-row: 12/13;
      grid-column: 4/7;
  }
  #btn1{
   background-color: red;
      width: 50%;
      height: 100%;
      border-radius: 5px;
      color: white;
      font-size: 40px;
      border:3px solid black;
  }
  #btn1:hover{
      cursor: pointer;
      background-color: white;
      color: red;
      border:5px solid red;
  }
  #btn2{
      background-color: red;
      width: 50%;
      height: 100%;
      border-radius: 5px;
      color: white;
      font-size: 40px;
      border:3px solid black; 
  }
  #btn2:hover{
      cursor: pointer;
      background-color: white;
      color: red;
      border:5px solid red;
  }
  #feedbac_name{
      color: red;
      font-size: 20px;
  }
  #feedbac_email{
      color: red;
      font-size: 20px;
  }
  
  #user,#email,#cell,#textArea,#add {
      border: 3px solid red;  
      
     
  }
  #grade{
      border: 3px solid red;  
  }
  
  
  #feeback_footer{
      background-color:transparent;
      text-align: center;
      font-size: 35px;
      color: black;
      grid-column: 1/6;
      grid-row: 5/6;
  }
  @media screen and (max-width: 600px){
      #feeback_body{
          background-image: url(./images/realFeed.jpg);
            background-size: cover;
         display: grid;
         grid-template-columns: 80vw;
         grid-template-rows: 15vh 75vh 10h;
         gap: 10px;
         font-family: 'Crimson Text';
         
        }
        
        #feeback_header{
            text-align: center;
            font-size: 25px;
            font-family: 'Montserrat';
            grid-column: 1/2;
            grid-row: 1/2;
     
        
        }
        #feeback_header_form{
            background-color: whitesmoke;
           border: 5px solid red;
            width: 100%;
            
            opacity: 0.9;
         
            grid-column: 1/2;
            grid-row: 2/5;
           
            display: grid;
  
            grid-template-columns: 5vw 10vw 10vw  ;
            grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 10vh 10vh;
            gap: 25px;
        
        }
        .f_name{
          grid-row: 1/2;
          grid-column: 2/4;
      }
      .light{
        grid-row:5/6;
        grid-column: 2/6;
        color: red;
        font-size: 20px;
    }
     
      .Email{
          grid-column: 2/6;
          grid-row: 3/4;
      }
      .address{
          grid-row: 2/3;
          grid-column: 2/4;
          color: red;
          font-size: 20px;
      }
      .dateOfBirth{
        grid-row: 4/6;
        grid-column: 2/6;
        color: red;
        font-size: 20px;
    
      }
      .field{
          grid-row: 6/7;
          grid-column: 2/6;
          color: red;
          font-size: 20px;
         
      }
      .select{
          grid-row: 8/9;
          grid-column: 2/6;
          color: red;
          font-size: 20px;
      }
      .phone{
          grid-row: 9/11;
          grid-column: 2/6;
          color: red;
          font-size: 20px;
      }
      .myNait_form_textArea{
          grid-column: 2/6;
          grid-row: 10/11;
          color: red;
          font-size: 20px;
      }
      .reset_btn{
          grid-row: 14/15;
          grid-column: 1/4;
       
      }
      .submit_btn{
        grid-row: 14/15;
          grid-column: 5/7;
      }
      #btn1{
       background-color: red;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          color: white;
          font-size: 40px;
          border:3px solid black;
      }
      #btn1:hover{
          cursor: pointer;
          background-color: white;
          color: red;
          border:5px solid red;
      }
      #btn2{
          background-color: red;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          color: white;
          font-size: 40px;
          border:3px solid black; 
      }
      #btn2:hover{
          cursor: pointer;
          background-color: white;
          color: red;
          border:5px solid red;
      }
      #feedbac_name{
          color: red;
          font-size: 20px;
      }
      #feedbac_email{
          color: red;
          font-size: 20px;
      }
      
      #user,#email,#cell,#textArea,#add {
          border: 3px solid red;  
      }
      #grade{
          border: 3px solid red;  
      }
      #feeback_footer{
        background-color:transparent;
        text-align: center;
        font-size: 35px;
        color: black;
        grid-column: 1/4;
        grid-row: 5/6;
        font-size: 20px;
    }
  }